body * {
    border: 0.5px dotted red;
}
html, body, main, nav, div, section, article, img {
    margin:0;
    padding:0;
}
/* GLOBAL VARIABLES */
:root {
    --nav-logo-width:  3rem;
    --nav-logo-height: 3rem;
    --color-light1:  #dffbfd;
    --color-normal1: #e78701;
    --color-normal2: #d31c13;
    --color-normal3: #145ab6;
    --color-dark1:   #1a143f;
}
/* GLOBAL STYLES */
.text-color-light1 { color: var(--color-light1);}
.text-color-normal1  { color: var(--color-normal1);}
.text-color-normal2  { color: var(--color-normal2);}
.text-color-normal3  { color: var(--color-normal3);}
.text-color-dark1  { color: var(--color-dark1);}
.bg-color-light1   { background-color: var(--color-light1);}
.bg-color-normal1  { background-color: var(--color-normal1);}
.bg-color-normal2  { background-color: var(--color-normal2);}
.bg-color-normal3  { background-color: var(--color-normal3);}
.bg-color-dark1    { background-color: var(--color-dark1);}

/* NAVBAR */
.navbar-dark{
    color: var(--color-light1);
    background-color: var(--color-dark1);    
}
.btn-outline-primary {
    color: var(--color-dark1);
    background-color: var(--color-light1);
}
.btn-outline-primary:hover {
    color: var(--color-light1);
    background-color: var(--color-dark1);
}
#nav-logo-lkc {
    width: var(--nav-logo-width);
    height: var(--nav-logo-height);
    background: url(../img/logo-lkc-96x96.png) center center / cover no-repeat;
}
#nav-logo-aiklf {
    width: var(--nav-logo-width);
    height: var(--nav-logo-height);
    background: url(../img/logo-aiklf.png) center center / cover no-repeat;
}
#nav-logo-iukl {
    width: var(--nav-logo-width);
    height: var(--nav-logo-height);
    background: url(../img/logo-iukl.png) center center / cover no-repeat;
}
@media (min-width: 355px) {
    nav .d-sm-inline { display: inline!important;}
}

/* HOME - callout */
.hero {
    height: 92vh;
    margin-top: 3rem;
    padding: 0 10%;
    position: relative;
    color: var(--color-dark1);
}
/* took backround opacity from here (method 2): 
https://www.digitalocean.com/community/tutorials/how-to-change-a-css-background-images-opacity */
.hero:before {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    background: url(../img/training-front.jpg) center center / cover no-repeat;
    opacity: 0.4;
    background-color: var(--color-light1);
    z-index: -1;
}
.height-outer {
    height: 45%;
}
.height-middle {
    height: 10%;
}
.hero h1 {
    font-weight: bold;
}

/* FOOTER */
footer a {
    text-decoration: none;
    color: inherit;
}
footer svg {
    height:1.5rem;
}

/* MISSION.html, CONSTITUTION.html */
.list-number      { list-style-type: decimal;}
.list-latin-lower { list-style-type: lower-alpha;}
.list-disc-solid  { list-style-type: disc;}
/* style the numbers of the <ol> */
.list-with-header > li {
    font-size: 1.5rem;    
}
/* then dial back for the child elements (except for the first one) */
.list-with-header > li > *:not(:first-child) {
    font-size: 1rem;
}