/* body * { border: 0.5px dotted red;} */

html, body, main, nav, div, section, article, img {
    margin:0;
    padding:0;
}
/* GLOBAL VARIABLES */
:root {
    --nav-logo-width:  3rem;
    --nav-logo-height: 3rem;
    --color-light1:  #dffbfd;
    --color-normal1: #e78701;
    --color-normal2: #d31c13;
    --color-normal3: #145ab6;
    --color-dark1:   #1a143f;
}
/* GLOBAL STYLES */
.text-color-light1  { color: var(--color-light1);}
.text-color-normal1 { color: var(--color-normal1);}
.text-color-normal2 { color: var(--color-normal2);}
.text-color-normal3 { color: var(--color-normal3);}
.text-color-dark1   { color: var(--color-dark1);}
.bg-color-light1  { background-color: var(--color-light1);}
.bg-color-normal1 { background-color: var(--color-normal1);}
.bg-color-normal2 { background-color: var(--color-normal2);}
.bg-color-normal3 { background-color: var(--color-normal3);}
.bg-color-dark1   { background-color: var(--color-dark1);}

/* NAVBAR */
.navbar-dark{
    color: var(--color-light1);
    background-color: var(--color-dark1);    
}
.btn-outline-primary {
    color: var(--color-dark1);
    background-color: var(--color-light1);
}
.btn-outline-primary:hover {
    color: var(--color-light1);
    background-color: var(--color-dark1);
}
.nav-logo {
    width: var(--nav-logo-width);
    height: var(--nav-logo-height);
}
#logo-lkc {
    /* Logo from LKC's facebook page https://www.facebook.com/Limerick-Kettlebell-Club-201978196542853  */
    background: url(../img/logo-lkc-96x96.png) center center / cover no-repeat;
}
#logo-aiklf {
    /* Logo from http://www.aiklf.com/ */
    background: url(../img/logo-aiklf.png) center center / cover no-repeat;
}
#logo-iukl {
    /* Logo from http://www.giri-iukl.com/en/ */
    background: url(../img/logo-iukl.png) center center / cover no-repeat;
}
/* The following media query makes the title "Limerick Kettlebell Club" in Navbar to appear 
   on smaller devices. The BootStrap responsive break for "sm" is too far away, there is no "xs". */
@media (min-width: 355px) {
    nav .d-sm-inline { display: inline!important;}
}

/* HOME - HERO section */
.hero {
    height: 92vh;
    margin-top: 3rem;
    padding: 0 10%;
    position: relative;
    color: var(--color-dark1);
}
/* borrowed backround opacity from here (method 2): https://www.digitalocean.com/community/tutorials/how-to-change-a-css-background-images-opacity */
.hero:before {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    /* picture from LKC's facebook page https://www.facebook.com/Limerick-Kettlebell-Club-201978196542853  */
    background: url(../img/training-front.jpg) center center / cover no-repeat;
    opacity: 0.4;
    background-color: var(--color-light1);
    z-index: -1;
}
.hero-height-top {
    height: 35%;
}
.hero-height-middle {
    height: 10%;
}
.hero-height-bottom {
    height: 55%;
}

/* HOME - Main section */
.section-separator1 {
   height: 2rem;
   background: url("../img/competition-kettlebell-lineup-small1.png") center center / contain no-repeat;
   background-color: var(--color-light1);
}
.section-separator2 {
    height: 2rem;
    background: url("../img/competition-kettlebell-lineup-small2.png") center center / contain no-repeat;
    background-color: var(--color-light1);
}
 .gmap {
    width:100%;
    height: 280px;
    border: none;
}
.border-left-08kg { border-left: 6px solid pink;}
.border-left-12kg { border-left: 6px solid blue;}
.border-left-16kg { border-left: 6px solid yellow;}
.border-left-20kg { border-left: 6px solid purple;}
.border-left-24kg { border-left: 6px solid green;}
.border-left-28kg { border-left: 6px solid orange;}
.border-left-32kg { border-left: 6px solid red;}
.border-left-36kg { border-left: 6px solid grey;}
.border-left-40kg { border-left: 6px solid white;}
.border-left-44kg { border-left: 6px solid silver;}
.border-left-48kg { border-left: 6px solid gold;}

.border-bottom-08kg { border-bottom: 6px solid pink;}
.border-bottom-12kg { border-bottom: 6px solid blue;}
.border-bottom-16kg { border-bottom: 6px solid yellow;}
.border-bottom-20kg { border-bottom: 6px solid purple;}
.border-bottom-24kg { border-bottom: 6px solid green;}
.border-bottom-28kg { border-bottom: 6px solid orange;}
.border-bottom-32kg { border-bottom: 6px solid red;}
.border-bottom-36kg { border-bottom: 6px solid grey;}
.border-bottom-40kg { border-bottom: 6px solid white;}
.border-bottom-44kg { border-bottom: 6px solid silver;}
.border-bottom-48kg { border-bottom: 6px solid gold;}


/* FOOTER */
footer a {
    text-decoration: none;
    color: inherit;
}
footer svg {
    height:1.5rem;
}

/* ABOUT */
.key {
    font-weight: bold;
}
.value {
    word-break: normal;
    padding-bottom: 1rem;
    padding-left: 0;
}
#img-venue {
    /* picture from https://www.deltasportsdome.com/wp-content/uploads/2019/12/Delta-Sidebar-Portrait.jpg */
    background: url(../img/delta-entrance.jpg) center center / cover no-repeat;;
}

/* MISSION.html, CONSTITUTION.html */
.list-number      { list-style-type: decimal;}
.list-latin-lower { list-style-type: lower-alpha;}
.list-disc-solid  { list-style-type: disc;}
/* style the numbers of the <ol> */
.list-with-header > li {
    font-size: 1.5rem;    
}
/* then dial back for the child elements (except for the first one) */
.list-with-header > li > *:not(:first-child) {
    font-size: 1rem;
}